body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.headerL {
    position: absolute;
    display: block;
    height: 350px;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.0);
    z-index: 500;
}

.headerR {
    position: relative;
    display: block;
    height: 350px;
    width: 50%;
    float: right;
    background-color: rgba(128, 128, 128, 0.0);
    z-index: 500;
}

#controlLeft {
    width: auto;
    height: auto;
    position: absolute;
    display: block;
    top: 40px;
    right: 0px;
    z-index: 1000;
    overflow: hidden;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 6px 6px 6px 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transform-origin: top right;
}

#controlRight {
    width: auto;
    height: auto;
    position: absolute;
    display: block;
    top: 40px;
    left: 0px;
    z-index: 1000;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 6px 16px 6px 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #333;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transform-origin: top left;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.control-layers {
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    left: 10px;
    top: 80px;
    cursor: pointer;
}

.control-layers-toggle {
    width: 28px;
    height: 28px;
    z-index: 1000;
    position: absolute;
    background-image: url(capes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.control-layersR {
    z-index: 1000;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    right: 10px;
    top: 80px;
    cursor: pointer;
}

.containerR input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    content: '';
    position: absolute;
    right: 20px;
    top: 0px;
    width: 10px;
    height: 10px;
    border: 4px solid #000000;
    border-radius: 50%;
    background: #f2f2f2;
}

.checkmarkR {
    content: '';
    display: inline;
    position: absolute;
    left: 18px;
    top: 0;
    width: 10px;
    height: 10px;
    border: 4px solid #000000;
    border-radius: 50%;
    background: #f2f2f2;
}

.containerL {
    display: block;
    position: relative;
    height: 13px;
    width: 78px;
    padding-right: 0px;
    padding-left: 12px;
    margin-bottom: 0px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.containerR {
    display: block;
    position: relative;
    height: 13px;
    width: 55px;
    padding-left: 23px;
    padding-right: 12px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.containerL input:checked~.checkmark {
    background-color: red;
    border: 4px solid #3A3A3A;
}

.containerR input:checked~.checkmarkR {
    background-color: #3269f2;
    border: 4px solid #3A3A3A;
}

.vertical-line {
    position: absolute;
    top:20px;
    width: 4px;
    background-color: #000000;
    /*height: inherit;*/
    float: right;
    right: 33px;
    bottom: 20px;
}

.vertical-lineR {
    position: absolute;
    top:20px;
    width: 4px;
    background-color: #000000;
    /*height: inherit;*/
    float: left;
    left: 31px;
    bottom: 20px;
}

#date {
    position: absolute;
    display: block;
    width: 110px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    left: -110px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.875em;
    color: #000000;
    transform-origin: top right;
}

#dateR {
    position: absolute;
    display: block;
    width: 112px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.875em;
    color: #000000;
    transform-origin: top left;
}

#dateDivider {
    width: 4px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-color: white;
    z-index: 1000;
}

.leaflet-control-locate {
    font-size: 1.4em;
    margin-top: 6px;
    
}




